
.weightField input {
    margin: 10px 0 10px 12px;
    outline: none;
}

.heightField input {
    margin: 0px 20px 20px 20px;
    outline: none;
}

button {
    width: 80px;
    padding: 5px;
    font-size: 15px;
    background-color: #282c34;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #202327;
}