.App {
  text-align: center;
}

.App-header {
  margin-top: 8rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

h2 {
  margin: 5px;
}

@media (max-width: 900px) {
  .App-header {
    display: flex;
    flex-direction: column;
  }
}